<div class="jumbotron masthead">
  <div class="container">

    <div class="hero-unit">
      <h1>Leais</h1>
      <div class="big_font">Step towards digital intelligence for gujarat law enforcement agencies.</div>
      <!-- <p>These files have been updated to Twitter Bootstrap version 2.02. <a href="https://github.com/twitter/bootstrap/wiki/Changelog">Read more here</a>.</p> -->
    </div>

  </div> <!-- /container -->
</div>


<div class="marketing">
    <h1>Introducing Leais. . . . . </h1>
    <p class="marketing-byline">&nbsp;</p>

    <div class="row-fluid">
      <div class="span4">
        <%= image_tag("tower-icon.png") %>
        <!-- <img src="tower-icon.png"> -->
        <h2>&nbsp;</h2>
        <p>Providing Communication related solution for Digital Crimes.</p>
      </div>
      <div class="span4">
        <%= image_tag("for_every_one.png") %>
        <h2>Made for everyone.</h2>
        <p>Leais is made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers.</p>
      </div>
      <div class="span4">
        <%= image_tag("law_enforcement.png") %>
        <h2>&nbsp;</h2>
        <p>Provides Digital Intelligence for Law enforcement agencies for investigating new age crimes.</p>
      </div>
    </div>
</div>