<%= form_tag('/sdrs/fetch_sdr') do -%>
  <div class="field">
    <%#= text_field_tag :mobile_number %>
    <%= autocomplete_field_tag :mobile_number, '', autocomplete_sdr_mobile_number_sdrs_path, :size => 35 %>
  </div>
  
  <div><%= submit_tag 'Punch it!' %></div>
<% end -%>