<footer class="footer">
  <%= image_tag "Logo coral 13-white.png",:size => "50x50" %>
  
  <!-- <small> -->
    &nbsp;&nbsp;&nbsp;Guided By Hitesh Sanghvi,&nbsp; Assistant Director, DFS<br/><br/>
    <p>&nbsp;&nbsp;&nbsp;Developed By Krunalsinh Solanki & Ghanshyam Rathod</p>
  <!-- </small> -->
  <p><small>M.S. Digital Forensics & Information Assurance</small></p>
  <p><small>&nbsp;IFS,&nbsp;GFSU &nbsp;Gujarat</small></p>
  <!-- <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav> -->
</footer>
