<footer class="footer">
  <%= image_tag "Logo coral 13-white.png",:size => "50x50" %>
  
  <small>
    Developed By Krunalsinh Solanki & Ghanshyam Rathod,&nbsp;IFS,&nbsp;GFSU &nbsp;Gujarat
  </small>
  <!-- <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav> -->
</footer>
